- for article in @articles
  = render :partial => 'articles/list/admin', :locals => { :article => article, :placement => Placement.new( :child_item => article ) }
-#%h1 Listing Articles

-#%ul.articles-results

    
-#= link_to 'New article', new_article_path 
