= render :partial => 'article', :object => article
= link_to 'Edit', edit_article_path(@article)
= link_to 'Back', articles_path

-#
  %h2
    =h @article.title 

  %h3.subtitle
    =h @article.subtitle 

  %p
    %b Status:
    =h @article.status 

  %p
    %b Published at:
    =h @article.published_at 

  %p
    %b Body:
    =h @article.body_html


