%h1 Listing Users

%ul.users
  - for user in @users
    %li{:class => cycle("odd", "even") + ' ' + 'user'}
      = render :partial => "user", :collection => @users
    
= link_to 'New user', new_user_path 
