- if placement.child_item.is_a? Article
  = render :partial => 'articles/list/admin', :locals => { :article => placement.child_item, :placement => placement }
- elsif placement.child_item.is_a? Media
  = render :partial => 'media/list/admin', :locals => { :media => placement.child_item, :placement => placement }

- elsif placement.child_item.is_a? Page
  .page-block
    = placement.child_item.name
    %ul.page-contents.plain
      - placement.child_item.placements.ordered.each do |child_placement|
        %li.list-item
          = render :partial => "placements/edit", :locals => { :placement => child_placement }
