- content_tag_for :div, placement do
  %p
    %strong Article:
    =h placement.article_id
  %p
    %strong Page:
    =h placement.page_id
  %p
    %strong List order:
    =h placement.list_order
  %p
    %strong View Type:
    =h placement.view_type
  %p
    %strong Primary:
    =h placement.canonical
= link_to 'Edit', edit_placement_path(placement), :class => "edit button"
