%p
  %b Article:
  =h @placement.article_id 

%p
  %b Page:
  =h @placement.page_id 

%p
  %b List order:
  =h @placement.list_order 

%p
  %b Display:
  =h @placement.view_type

%p
  %b Primary:
  =h @placement.canonical


= link_to 'Edit', edit_placement_path(@placement)
= link_to 'Back', placements_path
